body{
	font-family: 'Montserrat', sans-serif;
}
.caixa{
	position: relative;
	width: 920px;
	margin: 0 auto;
}

header{
	background-color: #BBBBBB;
	padding: 20px 0;
}
nav{
	position: absolute;
	top: 110px;
	right: 0px
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000
}
nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
main{
	background: linear-gradient(white, grey);
}

.produtos{
	position: relative;
	width: 920px;
	margin: 0 auto;
	padding: 40px 0;
}

.produtos li{
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30%;
	vertical-align: top;
	padding: 30px 20px;
	margin: 0 1.5%;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.produtos li:hover{
	border-color: #C78C19
}
.produtos li:active{
	color: #088C19
}
.produtos li:hover h2{
	font-size: 40px;
}
.produtos h2{
	font-size: 30px;
}
.produtos_descricao{
	font-size: 18px;
}
.produtos_preco{
	font-size: 22px;
	margin-top: 10px;
}
footer{
	text-align: center;
	background: url("bg.jpg");
	padding: 30px;
}
.copy{
	color: #FFFFFF
}
main{
	width: 920px;
	margin: 0 auto;
}
form{
	margin: 40px 0;
}
label{
	display: block;
	font-size: 20px;
	margin:0 0 10px;
	
}
.input_padrao{
	display: block;
	width: 50%;
	padding: 10px 0 10px;
	margin:0 0 20px;
}
.checkbox{
	margin: 20px 0;
}
form legend{
	margin: 0 0 10px;
	font-size: 20px;
}
.botao{
	width: 40%;
	font-size: 18px;
	background: orange;
	color: white;
	padding: 15px 0;
}
.botao:hover{
	background: darkorange;
	transition: 1s;
	transform: scale(1.2);
}
th{
	background-color: #000000;
	color: white;
}
td, th{
	border: 1px solid #000000;
	padding: 8px 10px;
	font-weight: bold;
}
table{
	margin: 0 0 15px;
}
/* css da página inicial */

.banner {
    width:100%;
}
.principal{
	width: 920px;
	margin: 0 auto;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.imgbeneficios {
    width: 50%;
	box-shadow: 10px 10px 5px black;
}
.conteudo-beneficios{
	display: flex;
	justify-content:center;
}
.itens{
	line-height: 1.5;
	padding-right: 5px;
}
.itens:nth-child(1){
	font-weight: bold;
}
.itens::before{
	content: "٭";
}
/*importando e editando mapa*/
.mapa{
	width: 920px;
	margin: 0 auto;
	padding: 2em 0 2em 0;
}
.mapa p{
	text-align: center;
	font-weight: bold;
}
.video {
    width: 560px;
    margin: 1.5em auto;
}